@media ( max-width: 1200px  )
    .nav
        &_link
            font-size: 13px
        &_item
            padding-right: 20px
    .promo
        &_header
            font-size: 53px
    .advantage
        &_item
            align-items: flex-start
            &_descr
                width: 337px
    .app
        &_item
            width: 310px
    .car
        padding-bottom: 100px
@media ( max-width: 991px  )
    .nav
        &_link
            font-size: 11px
        &_item
            padding-right: 6px
